$primary-color: rgb(240, 125, 83);
$tamletra:20px;

body{
  background-color: $primary-color;
  padding: 10px;
}

p{
  font-size: $tamletra;
  margin: 10px 0;
}

label{
  font-size: $tamletra;
}

select{
  width: 350px;
  margin-left: 10px
}

button{
  margin-left: 10px;
}

.container{
  display: flex; 
  flex-direction: row;
}

.producto{
  flex: 85%;
}

.precio{
  flex: 15%;
}